%h100 {
  min-height: 100%;
  height: 100%;
}

%layout-flex {
  display: flex;
  flex-direction: column;
}

// html,
// body {
//   @extend %h100;
// }

body {
  touch-action: none;

  @supports (padding: max(0px)) {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    // padding-bottom: env(safe-area-inset-bottom);
  }

  #nprogress {
    .bar {
      @supports (padding: max(0px)) {
        top: env(safe-area-inset-top);
      }
    }
  }
}

#app {
  // @extend %h100;
  // @extend %layout-flex;
  -webkit-overflow-scrolling: touch;
  background-color: #000;
}

.modal {
  @supports (padding: max(0px)) {
    padding-top: env(safe-area-inset-top);
  }
}